.header {
  padding: 1rem 0 3rem;
}

.title {
  color: black;
  font-size: 3rem;
  text-decoration: none;
}

.navList {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.navItem {
  color: black;
  font-size: 0.9rem;
  margin-right: 1.3rem;
  text-decoration: none;
}

.navItem:hover {
  color: rgb(73, 73, 73);
}

.activeNavItem {
  color: #333333;
  font-weight: bold;
}
